{
  "presets": [
    // "minify",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  // "sourceMaps": true,
  "ignore": [
    "../src/**/*.test.js",
    "../src/**/*.test.ts"
  ]
}